@import './variables.scss';
@import './typography.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2.85rem 0 0 0;
  font-family: $font;
  color: color(black);
  line-height: 1.6;
  & * {
    position: relative;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

a {
  text-decoration: none;
}

p{
  margin: 0;
}

section{
  width: 100%;
  height: calc(100vh - 2.85rem);
  display: flex;
  flex-direction: column;
}
img {
  display: block;
  max-width: 100%;
}

.l-container {
  max-width: $max-width;
  margin: 0 auto;
}
