@mixin from($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin backgroundHover($property) {
  &:hover {
    background-color: darken($property, 10);
  }
}

@mixin containerStyle {
  margin: 1rem 0;
  border-radius: 0.25em;
  position: relative;
  box-shadow: 0 1px 5px #ccc;
}