@import "../shared/variables.scss";
@import "../shared/mixins.scss";

.login{
    padding: 40px 1rem;
    display: flex;
    align-items: center;
    @include from($large){
        flex-direction: column;
        background-size: cover;
    }
    &__container{
        width: 100%;
        flex-basis: 50%;
        background-color: color(white);

        &:first-of-type{
            display: flex;
            flex-basis: 25%;
        }
        @include from($large){
            width: 30%;
            margin: 0 auto;
            border-radius: 0.25rem;
            .login__img{
                transform: scale(0);
                position: absolute;
            }
        }
    }


    
}

.input{
    padding: 0.5rem 1rem;
    &__button{
        display: flex;
        justify-content: flex-end;
    }
}