@import "../shared/variables.scss";
@import "../shared/mixins.scss";

.benefits{
    @include from($large){
        display: flex;
        flex-wrap: wrap;
    }
    &__container{
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .item__description{
            flex:1;
            min-width: 50%;
            flex-direction: column;
            @include from($large){
                min-width: auto;
            }
        }

        @include from($large){
            padding: 3rem;
        }

        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ccc;
            left: 0;
            bottom: 0;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
    }

    &__title{
        font-weight: normal;
        text-align: center;
        padding: 2rem 1rem;
        & span{
            color:color(primary);
        }
        @include from($large){
            font-size: 2em;
        }
    }
}