@import "../shared/variables.scss";
@import "../shared/mixins.scss";

.welcome{
    font-size: 1.5rem;
    background: url('../../assets/Backgrounds/Bg_Header.png');
    background-size: contain;
    justify-content: space-around;
    @include from($medium){
        flex-direction: row;
        align-items: center;
    }

    @include from($large){
        height: calc(100vh - 147px);
    }
    
    &__title{
        font-weight: normal;
        span{
            &:first-of-type, &:last-of-type{
                font-weight: bold;
            }
            &:last-of-type{
                color: color(secondary)
            }
        }
    }
    &__img{
        transform: rotateY(180deg);
        @include from($large){
            width: 100%;
            height: 90%;
            object-fit: contain;
        }
    }
    &__container{
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
    }
}
