@import "../shared/variables.scss";
@import "../shared/mixins.scss";

.welcome{
    font-size: 1.5rem;
    background: url('../../assets/Backgrounds/Bg_Header.png');
    background-size: contain;
    justify-content: space-around;
    @include from($medium){
        flex-direction: row;
        align-items: center;
        // &__img{
        //     max-width: 50%;
        // }
    }
    &__title{
        font-weight: normal;
        span{
            &:first-of-type, &:last-of-type{
                font-weight: bold;
            }
            &:last-of-type{
                color: color(secondary)
            }
        }
    }
}

// url('../../assets/ImgHero/Ic_ilustra_Hero.png') no-repeat 0% 80%,