@import "../shared/typography.scss";
@import "../shared/variables.scss";
@import "../shared/mixins.scss";

.input {
  width: 100%;

  &__main {
    padding: 8px 12px;
    font-family: $font;
    border-radius: 5px;
    border: 1px solid color(grey);
    outline: none;
    min-width: 260px;
    width: 100%;

    &--secondary {
      background: lighten(color(grey), 10);
    }

    &:focus {
      // border: 1.5px solid color(primary);
      box-shadow: 0 1px 5px #ccc;
    }

    &:focus-within {
      border: 1px solid color(primary);
    }

    &:hover {
      border-color: color(grey);
    }
  }

  &__label {
    text-align: start;
    & span {
      display: block;
      padding: 5px 0;
    }
  }
}
