@import "../shared/variables.scss";
@import "../shared/mixins.scss";

.card{
    
   @include containerStyle;

    @include from($medium){
        max-width: 20rem;
    }

    @include from($large){
        margin: 1rem;
        min-width: 16rem;
        flex-basis: 50%;
    }
    
    
    &__container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: wrap;
        border-top: 1px solid color(grey);
        padding: 1rem;
    }
    
    &__price {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }

    &__date{
        font-weight: 500;
        &.date__main{
            margin-right: 1.25rem;
        }
    }
    
    &__img{
        padding: 1rem;
    }
}