@import "../shared/variables.scss";
@import "../shared/mixins.scss";

.footer {
  width: 100%;
  min-height: 50vh;
  padding: 1rem;
  display: flex;
  background: url("../../assets/Backgrounds/Bg_Footer.png") white;
  background-size: 700px;
  background-position: bottom;
  flex-direction: column;
  @include from($medium) {
    align-items: center;
  }

  &__title {
    text-align: center;
    &:first-of-type {
      span {
        color: color(primary);
      }
      @include from($large) {
        font-size: 3em;
      }
    }
  }

  &__subtitle {
    font-weight: normal;
    @include from($large) {
      font-size: 2em;
    }
  }

  &__img {
    padding: 1rem;
  }
  &__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
